    body {
      font-family: 'Raleway', sans-serif;
      min-height: 100vh;
      background: url(images/bg-mobile.png) no-repeat bottom / cover, hsl(229, 57%, 11%);
    }

        @media (min-width: 375px) and (max-width:1024px) {
      body {
        background: url(images/bg-desktop.png) no-repeat bottom / contain, hsl(229, 57%, 11%);
      }
    }

.top-card {
    border-radius: 10px 100px 10px 10px;
    padding: 2.5rem;
    background-color: hsl(228, 56%, 26%);
    text-align: center;
  }

.bottom-card {
    border-radius: 10px;
    padding: 2rem;
    background-color: hsl(228, 56%, 26%);
    color: hsla(0,100%,100%,0.8);
    text-align: center;
    position: relative;
  }

  .progress-bar-custom {
  height: 1.2rem;
  border-radius: 35px;
  background-color: rgba(0,0,0,0.3);
  position: relative;
}




.progress-indicator {
  position: absolute;
  top: 50%;
  left: 11.9rem;
  transform: translateY(-50%);
  width: 0.65rem;
  height: 0.65rem;
  background-color: white;
  border-radius: 50%;
}


.data-bubble {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.data-bubble-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.8rem;
  color: hsl(229, 7%, 55%);
}

.data-bubble-text span {
  font-size: 2.5rem;
  color: hsl(229, 57%, 11%);
}