    body {
      font-family: 'Raleway', sans-serif;
      min-height: 100vh;
      background: url(images/bg-mobile.png) no-repeat bottom / cover, hsl(229, 57%, 11%);
    }

        @media (min-width: 375px) and (max-width:1024px) {
      body {
        background: url(images/bg-desktop.png) no-repeat bottom / contain, hsl(229, 57%, 11%);
      }
    }

