    
    
CSS

@media (min-width: 375px) and (max-width: 1440px) {
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  min-height: 100%;
  background-image: url('images/bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}

html {
height:100%
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* body {
      font-family: 'Raleway', sans-serif;
      min-height: 100vh;
      background: url(images/bg-mobile.png) no-repeat bottom / cover, hsl(229, 57%, 11%);
    }

        @media (min-width: 375px) and (max-width:1024px) {
      body {
        background: url(images/bg-desktop.png) no-repeat bottom / contain, hsl(229, 57%, 11%);
      }
    }

.top-card {
    border-radius: 10px 100px 10px 10px;
    padding: 2.5rem;
    background-color: hsl(228, 56%, 26%);
    text-align: center;
  }

.bottom-card {
    border-radius: 10px;
    padding: 2rem;
    background-color: hsl(228, 56%, 26%);
    color: hsla(0,100%,100%,0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .progress-bar-custom {
  height: 1.2rem;
  border-radius: 35px;
  background-color: rgba(0,0,0,0.3);
  position: relative;
}

.progress-bar-custom::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  height: 0.9rem;
  width: 12.5rem;
  border-radius: 35px;
  background: linear-gradient(90deg, rgba(255,163,153,1) 15%, rgba(255,77,151,1) 100%);
}


.progress-indicator {
  position: absolute;
  top: 50%;
  left: 11.9rem;
  transform: translateY(-50%);
  width: 0.65rem;
  height: 0.65rem;
  background-color: white;
  border-radius: 50%;
}


.bottom-container {
  position: relative;
  width: 100%;
  max-width: 24rem; }


.data-bubble {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  width: auto; 
  align-self: flex-end;
}



.data-bubble-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.8rem;
  color: hsl(229, 7%, 55%);
}

.data-bubble-text span {
  font-size: 2.5rem;
  color: hsl(229, 57%, 11%);
}      

*/

