    body {
      font-family: 'Raleway', sans-serif;
      min-height: 100vh;
      background: url(images/bg-mobile.png) no-repeat bottom / cover, hsl(229, 57%, 11%);
    }

        @media (min-width: 375px) and (max-width:1024px) {
      body {
        background: url(images/bg-desktop.png) no-repeat bottom / contain, hsl(229, 57%, 11%);
      }
    }

.top-card {
    border-radius: 10px 100px 10px 10px;
    padding: 2.5rem;
    background-color: hsl(228, 56%, 26%);
    text-align: center;
  }

.bottom-card {
    border-radius: 10px;
    padding: 2rem;
    background-color: hsl(228, 56%, 26%);
    color: hsla(0,100%,100%,0.8);
    text-align: center;
    position: relative;
  }

  .progress-bar-custom {
  height: 1.2rem;
  border-radius: 35px;
  background-color: rgba(0,0,0,0.3);
  position: relative;
}

